:root {
  --pgGrey: #242424;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.divider {
  border-top: .1rem solid var(--pgGrey);
  margin: 1em
}

main {
  padding: 2em;
  background-color: white;
}

main h2 {
  color: var(--pgGrey);
}

fieldset {
  margin: 1em 0;
}

fieldset legend, fieldset .list-item {
  display: flex;
}

.password-options {
  display: block;
}

.exported-password {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pgGrey);
  font-family: 'Courier New', Courier, monospace;
  outline: 2px dashed var(--pgGrey);
}

p,
label, legend {
  color: var(--pgGrey);
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (min-width: 544px) {
  .password-options {
    display: flex;
    gap: 1em;
  }
  fieldset {
    width: 100%;
    margin: 0;
  }
}